

* {
margin: 0;
padding: 0;
box-sizing: border-box;
border: 1px solid black;
font-family: monospace;
}

body {
    background-color: aliceblue;
}

p {
    font-size: 2em;
}

button {
    outline: none;
    background-color: darkgray;
    font-size: 2em;
}

.outer-container {
    padding: 15px;
}

.bar p {
float: right;
}
